#no-mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  height: 100vh;
  width: 100vw;
  background-image: url('../../img/4249454.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 32px;
}

#no-mobile img {
  margin-bottom: 20px;
  width: 35px;
}

#no-mobile p:last-child {
  margin-top: 20px;
  font-size: 20px;
  opacity: 0.5;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
