.user-component {
  display: flex;
  margin-bottom: 30px;
}

.user-component {
  justify-content: space-between;
}

.user-component,
.user-componet__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--info-color);
}

.user-component__subtitle i {
  color: var(--main-color);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-componet__column:last-child {
  color: var(--info-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-compone__time {
  margin-bottom: 10px;
  display: block;
}
